<% layout('/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Brewery</h1>
    <div class="col-6 offset-3">
        <form action="/breweries/<%= brewery._id %>?_method=PUT " method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="brewery[title]" value="<%= brewery.title %> " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="brewery[location]" value="<%= brewery.location %> " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="brewery[image]" value="<%= brewery.image %> " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
                   
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="brewery[description]" required><%= brewery.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Brewery</button>
            </div>
            
        </form>
    </div>
</div>

<a href="/breweries/<%= brewery._id %> ">Back to Brewery</a>
    
