
<% layout('/layouts/boilerplate') %>    
<h1>All Breweries</h1>
<div>
    <a href="/breweries/new">Add Brewery</a>
</div>

<% for (let brewery of breweries){%>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img src="<%= brewery.image %> " alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= brewery.title %> </h5>
                    <p class="card-text"><%= brewery.description %> </p>
                    <p class="card-text">
                        <small class="text-muted"><%= brewery.location %> </small>
                    </p>
                    <a href="/breweries/<%= brewery._id %> " class="btn btn-primary">View Brewery %> </a>

                </div>
            </div>
        </div>
    </div>
<% }%>  
